<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="dash card border-bottom shadow-sm">
        <div class="card-header">Livros Registrados</div>
        <div class="card-body">
          <h5 class="card-title">Total de Registros</h5>
          <p class="card-text">{{ livros }} Registros</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dash card border-bottom shadow-sm">
        <div class="card-header">Categorias Registradas</div>
        <div class="card-body">
          <h5 class="card-title">Total de Registros</h5>
          <p class="card-text">{{ categorias }} Registros</p>
        </div>
      </div>
    </div>
  </div>
</div>
